{% extends 'index.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/play_quiz.css' %}">
<script>
  var variables = {
    explanation : "{{question_obj.explanation}}",
    answer :"{{question_obj.answer}}"
};
  
  

</script>
<script src="{% static 'js/play_quiz.js' %}"></script>
<form method="POST">
  {% csrf_token %}
  <div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
      <div class="py-2 h5">
        <b>Q{{qn_no}}: {{question_obj.question}}</b>
      </div>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
        <label class="options"
          >{{question_obj.option1}}
          <input type="radio" id="option1" name="choosed" value="option1" />
          <span class="checkmark"></span>
        </label>
        <label class="options"
          >{{question_obj.option2}}
          <input type="radio" id="option2" name="choosed" value="option2" />
          <span class="checkmark"></span>
        </label>
        <label class="options"
          >{{question_obj.option3}}
          <input type="radio" id="option3" name="choosed" value="option3" />
          <span class="checkmark"></span>
        </label>
        <label class="options"
          >{{question_obj.option4}}
          <input type="radio" id="option4" name="choosed" value="option4" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="d-flex align-items-center pt-3">
      <div class="ml-auto mr-sm-5">
        <input type="button" class="btn btn-primary launch-modal" value="Submit" />
      </div>
    </div>
    <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header p-2">
            <h5 class="modal-title float-left"></h5>
          </div>
          <div class="modal-body">
            <h6 class="explanation" style="color: black;"></h6>
          </div>
          <div class="modal-footer p-1">
            <button type="submit" class="btn btn-primary">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <input type="hidden" name="result" value="" />
  <input type="hidden" name="qn_no" value="{{qn_no}}" />
<!-- a;d-flex -->
  <!-- <div class="list-group list-group-flush">
    <h4 class="list-group-item">
      Q{{qn_no|add:"1"}}: {{question_obj.question}}
    </h4>
    <div class="list-group-item">
      <input type="radio" id="option1" name="choosed" value="option1" />
      <label for="option1">{{question_obj.option1}}</label>
    </div>

    <div class="list-group-item">
      <input type="radio" id="option2" name="choosed" value="option2" />
      <label for="option2">{{question_obj.option2}}</label>
    </div>
    <div class="list-group-item">
      <input type="radio" id="option3" name="choosed" value="option3" />
      <label for="option3">{{question_obj.option3}}</label>
    </div>
    <div class="list-group-item">
      <input type="radio" id="option4" name="choosed" value="option4" />
      <label for="option4">{{question_obj.option4}}</label>
    </div>
  </div>
  <input type="button" class="btn btn-primary launch-modal" value="Submit" />
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-2">
          <h5 class="modal-title float-left"></h5>
        </div>
        <div class="modal-body">
          <h6 class="explanation"></h6>
        </div>
        <div class="modal-footer p-1">
          <button type="submit" class="btn btn-primary">Next</button>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="result" value="" />
  <input type="hidden" name="qn_no" value="{{qn_no}}" /> -->
</form>
{% endblock %}

<!-- <div id="resultDiv" style="display: none;">
    <input class="btn btn-primary" type="submit" value="Submit">
    &#10006;
</div> -->
<!-- test -->
<!-- 
<div class="container mt-sm-5 my-1">
  <div class="question ml-sm-5 pl-sm-5 pt-2">
    <div class="py-2 h5">
      <b>Q. which option best describes your job role?</b>
    </div>
    <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
      <label class="options"
        >Small Business Owner or Employee <input type="radio" name="radio" />
        <span class="checkmark"></span>
      </label>
      <label class="options"
        >Nonprofit Owner or Employee <input type="radio" name="radio" />
        <span class="checkmark"></span>
      </label>
      <label class="options"
        >Journalist or Activist <input type="radio" name="radio" />
        <span class="checkmark"></span>
      </label>
      <label class="options"
        >Other <input type="radio" name="radio" />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div class="d-flex align-items-center pt-3">
    <div id="prev"><button class="btn btn-primary">Previous</button></div>
    <div class="ml-auto mr-sm-5">
      <button class="btn btn-success">Next</button>
    </div>
  </div>
</div> -->
