* {
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
}
body {
  background: #141e30; 
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  );
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); 
}

/* NavbBar */
.navbar{
  background-color: #878cf5;
}

/* Heading */
.heading-main{
  color: #878cf5;
}

/* Homepage */
.homepage{
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.homepage .img-fluid {
  height: 300px;
  width: 300px;
  float: left;
}
.u-list-home{
  color:#878cf5;
  padding: 10px;
}

.quiz-cards{
  margin: 10px;
  padding: 5px;
  
}

/* Login and Registration */

.logform {
  margin-top: 100px;
  max-width: 400px;
  padding: 15px 35px 10px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0,.1);
  border-radius: 1rem;
  
}

.login-container{
    margin-top: 100px;
}
.register-container{
    margin-top: 20px;
}

/* question Container */
.question-cont{
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 1rem;
}


/* Admin Quizzes */
.quiz-c-header{
  padding: .5rem;
}
.quiz-c-header .heading-main{
  display: inline-block !important;
  vertical-align: middle;

}
.quiz-c-header .btn {
  display: inline-block !important;
  float: right;

}