* {
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
}
body {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
} */
.navbar{
  background-color: #878cf5;
}
.heading-main{
  color: #878cf5;
}
.homepage{
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.homepage .img-fluid {
  height: 300px;
  width: 300px;
  float: left;
}
.u-list-home{
  color:#878cf5;
  padding: 10px;
}

.quiz-cards{
  margin: 10px;
  padding: 5px;
  
}

.logform {
  margin-top: 100px;
  max-width: 400px;
  padding: 15px 35px 10px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0,.1);
  border-radius: 1rem;
  
}
/* Login  */
.login-container{
    margin-top: 100px;
}
.register-container{
    margin-top: 20px;
}