{% extends 'index.html' %} {% block content %}


<form class="form1" method="POST">  
    {% csrf_token %}  
    Quiz Name: 
    <input align="center" class="pass" type="text" name="quizname" />  
    <br>  
    {% for i in range %}
    Question {{i}}:  
    <input align="center" class="pass" type="text" name="question{{i}}" />  
    <br>  
    Option 1:  
    <input align="center" class="pass" type="text" name="question{{i}}option1" />  
    <br>  
    Option 2:  
    <input align="center" class="pass" type="text" name="question{{i}}option2" />  
    <br>  
    Option 3:  
    <input  class="pass" type="text" name="question{{i}}option3" />  
    <br>  
    Option 4:  
    <input class="pass" type="text" name="question{{i}}option4" />  
    <br>  
    Correct Answer:  
    <select name="question{{i}}correct_answer" >
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
        <option value="option4">Option 4</option>
    </select>
    <br> 
    Explanation:
    <input  class="pass" type="text" name="question{{i}}explanation" />  
    {% endfor %} 
    <button class="btn btn-primary" type="submit">Create Question </button>  
</form>
{% endblock %}